* {
    font-size: 12px;
    border-radius: 5px;
}

window#waybar {
    font-family:
        FontAwesome,
        JetBrains Mono;
    background-color: transparent;
    border-bottom: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 10px 10px 0 0;
}

.modules-center {
    margin: 10px 0 0 0;
}

.modules-left {
    margin: 10px 0 0 10px;
}

button {
    border: none;
}

#workspaces {
    background-color: #111111;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #aaaaaa;
}

#workspaces button.focused {
    background-color: #333333;
}

#workspaces button.urgent {
    background-color: #ff5555;
}

#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#cpu,
#wireplumber,
#tray,
#mpris,
#language,
#load {
    padding: 0 10px;
    background-color: #111111;
    color: #ffffff;
}

#mode {
    background-color: #444444;
    color: #ffffff;
}

#battery.charging,
#battery.plugged {
    background-color: #66bb6a;
    color: #111111;
}

#battery.critical:not(.charging) {
    background-color: #ff5555;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #555555;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #cccccc;
    color: #111111;
    border: solid 1px rgba(10, 10, 10, 0.4);
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}
